:root {
    font-size: 16px;
    --fonts: Montserrat, sans-serif;
    --light-gray: #eaeaea;
    --med-gray: #555;
    --white: #fff;
    --black: #000000;
    /*  color palette from: https://color.adobe.com/Colliding-Power-color-theme-7210405/ */
    --dune: #363432;
    --blumine: #196774;
    --purple: #800080;
    --yellow: #ffef00;
    --pewter: #90A19D;
    --carrot-orange: #F0941F;
    --flamingo: #EF6024;
    --box-shadow: -0.5rem 0.5rem 1rem var(--med-gray);
    --small-shadow: -0.25rem 0.25rem 0.5rem var(--med-gray);
    --filter-shadow: drop-shadow(-0.5rem 0.5rem 0.5rem var(--med-gray));
}

/* ---------- GLOBAL STYLES ---------- */
* {
    box-sizing: border-box;
    line-height: 1.35;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ----- SKIP LINK STYLES ----- */
/* skip link styles from: https://webaim.org/techniques/css/invisiblecontent/ */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


body {
    font-family: var(--fonts);
    color: var(--dune);
    line-height: 1.35;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* light mode setting */

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}


/* dark mode setting */
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}


.dark-mode header,
.dark-mode footer {
    background-color: #444444;
}

.dark-mode #product-list{
    background-color: var(--black);
    color: var(--white);
}

.dark-mode nav a {
    background-color: #1a1a1a;

}

.dark-mode #holidays a {
    text-decoration: none;
    color: var(--yellow);
}

.dark-mode #products,
#game {
    background-color: var(--black);
    border: 2px solid #ccc;
    border-color: var(--med-gray);
}

.dark-mode #game {
    background-color: var(--black);
}


input[type="radio"] { margin-right: 0.5rem; } 


/* Header */

header {
    background-color: var(--blumine);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    align-items: center;

}
/*
a.logo{
    margin-left: 2rem;
}
*/
#modeToggle{
    margin-left: 2rem;
}

/*
  header div{
    max-width: 1200px;
    margin: 0 auto;
  }
    */
header svg {
    fill: var(--white);
    width: 100%;
    max-width: 125px;

}

/* Headings */

h1 {
    font-weight: bold;
    font-size: 2.25rem;
    font-style: italic;
    margin-right: 0.5rem;

}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}





/* ----- LINK STYLES ----- */
/*
  nav{
    margin-left: 5rem;
  }
  */
nav a {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--white);
    color: var(--carrot-orange);
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.25rem;
}


nav li {
    list-style: none;
}

a {
    display: block;
    padding: 0.25rem;
}

/*Penguin Pic STYLE */




#pic img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 60%;
}


/* Holidays section */
/*
  #holidays{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem;
     justify-content: center;
    align-items: center;
  }
    */
#holidays p {
    line-height: 2rem;
    margin: 0 auto;
    text-align: justify;
}

#candle {
    margin: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* Product Section */
#products {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--light-gray);
}


/* Game Section */
#game {
    background-color: var(--white);

}

#game,
#guess {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#game input {
    width: 80%;
}

#submit-guess {
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin-left: 1.3rem;
    margin-top: 1rem;
    background-color: var(--white);
    color: var(--purple);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 75%;
}


/* ----- CONTACT STYLES ----- */
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact h2 {
    text-align: left;
}



#names,
#message {
    display: grid;
    text-align: left;
}

#message{
width: 100%;
}

#names input{
    width: 70%;
}
/*
#prefPhone input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
*/
/*
.radio-input {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: flex;
    gap: 0.5em;
}
/*
#prefPhone, #prefEmail{
    display: grid;
}
    */
#santa {
    margin: 6rem auto;
}

/*
  #prev-product, #next-product{
    text-decoration:none;
    text-align: center;
    padding: 0.5rem;
    margin: 0.7rem 0;
    background-color: var(--white);
    color: var(--purple);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  */

/* PRODUCT STYLE 

#product-display {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 2rem
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#cart-items img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#cart-total {
    margin-top: 20px;
    font-weight: bold;
}
*/

#products h2{
    text-align: center;
}

#product-list {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
  }
  
  .product {
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  button.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button.add-to-cart:hover {
    background-color: #218838;
  }
  
  #cart-summary {
    margin-top: 30px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
  }
  
  #cart-summary p {
    font-size: 1.1em;
  }

  .dark-mode #cart-total{
    background-color: var(--black);
    color: var(--white);
  }
  
  #checkout-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #checkout-btn:hover {
    background-color: #0056b3;
  }
  
  #checkout-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }

#submit {
    padding: 0.5rem;
    margin-left: 1.3rem;
    background-color: var(--white);
    color: var(--purple);
    width: 75%;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
}






footer {
    background-color: var(--blumine);
    text-align: center;
    color: var(--white);
    padding: 2rem 1rem 1rem 1rem;
    line-height: 2;
}

footer a {
    text-decoration: none;
    color: white;
}


/* ----- HOVER STYLES ----- */
@media (hover:hover) {
    nav a:hover {
        background-color: var(--carrot-orange);
        color: var(--white);
    }

   
    #submit-guess:hover,
    #submit:hover {
        background-color: var(--purple);
        color: var(--white);
    }

    footer a:hover {
        color: var(--carrot-orange);
    }


}

/* Mobile View */
@media screen and (min-width: 480px) {
    header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    a.logo{
       width: 100%;
       margin-left: 2rem;
    }

    #modeToggle{
        width: 100%;
        margin-left: 2rem;
    }

    #candle{
        display: grid;
    }

    /* Section style */

    #pic img {
        width: 100%;
    }

    #holidays {
        display: grid;

    }
    #holidays p{
        margin: 1.5rem;
    }
#product-list{
    justify-content: center;
}

    #contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }


   
    #names label {
        font-weight: bold;
        font-size: 17px;
    }

    #names input{
        width: 100%;
        padding: 0.5rem;
    }

    #nums input{
        width: 100%;
        padding: 0.5rem;
    }


    #game input {
        width: 100%;
    }


    #nums label {
        font-weight: bold;
        font-size: 17px;
    }

    #nums {
        display: grid;
        width: 100%;
     }



    .radio-label{
        font-weight: normal;
        margin: 10px;
        }

input{
  
    align-items: center;
    margin-bottom: 10px;
 align-items: center;

}


label {
    display: block; 
    margin-bottom: 10px; 
  }
  
  input[type="radio"] {
    margin-right: 10px; 
  }



    #nums label {
        display: flex;
        margin-top: 8px;
    }

    #submit {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 20px;
        text-align: center;
        align-items: center;

    }

    /* Footer styles */
    footer {
        text-align: center;
        padding: 20px;
    }





}

@media screen and (min-width: 768px) {

    #modeToggle{
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #names {
        display: grid;

    }

    #names input, #nums input{
        width: 100%;
        padding: 0.5rem;
    }

    #nums {
        display: grid;
    }

    #contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    #holidays p {
        margin: 1rem;
    }

    #holidays img {
        width: 50%;
    }
    #submit{
        width: 50%;
        margin-left: 2.5rem;
    } 

    #names,
    #nums,
    textarea
    {
        padding: 0.5rem;
        width: 70%;
    }

    #santa img {
        width: 70%;
    }
#products{
    align-items: center;
    justify-content: center;
}
    
    #product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 0.5rem;
      }

      label {
        display: block; 
        margin-bottom: 10px; 
      }
      
      input[type="radio"] {
        margin-right: 10px; 
      }
    
}

@media screen and (min-width: 1200px) {


    a.logo{
        justify-content: center;
        align-items: center;
    }

    #modeToggle{
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 2.25rem;
    }
    #holidays p {
        padding: 1.5rem;
    }

    #contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #santa img {
        width: 100%;
    }


  
    #product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
      }
    
      label {
        display: block; 
        margin-bottom: 10px; 
      }
      
      input[type="radio"] {
        margin-right: 10px; 
      }

     #submit {
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}